@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
    font-weight: 200;
}
:root {
    --main-color:#333333;
    --white:white;
}
body {
    background-color:var(--main-color);
    color:var(--white);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 60px;
}
main {
    display: grid;
    grid-template-areas: "one two three";
    gap:15px;
}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}

.one,
.two,
.three {
    text-align: center;
    padding: 25px;
}
.description {
    margin: 10px;
}